In [2]:
import duckdb
import pandas as pd

In [3]:
# Import jupysql Jupyter extension to create SQL cells
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:medmory:
# %sql duckdb:///path/to/file.db

Deploy AI and data apps for free on Ploomber Cloud! Learn more: https://docs.cloud.ploomber.io/en/latest/quickstart/signup.html

In [6]:
%%sql

SELECT * FROM duckdb_extensions();
INSTALL httpfs;
LOAD httpfs;

Empty DataFrame
Columns: [Success]
Index: []

In [9]:
%%sql

CREATE TABLE cities AS SELECT * FROM 'https://open.gishub.org/data/duckdb/cities.csv';

Empty DataFrame
Columns: [Success]
Index: []

In [10]:
%%sql

CREATE TABLE countries AS SELECT * FROM 'https://open.gishub.org/data/duckdb/countries.csv';

Empty DataFrame
Columns: [Success]
Index: []

In [20]:
%%sql 

SELECT * FROM cities

        id            name country  latitude  longitude  population
0        1           Bombo     UGA   0.58330   32.53330       75000
1        2     Fort Portal     UGA   0.67100   30.27500       42670
2        3         Potenza     ITA  40.64200   15.79900       69060
3        4      Campobasso     ITA  41.56300   14.65600       50762
4        5           Aosta     ITA  45.73700    7.31500       34062
...    ...             ...     ...       ...        ...         ...
1244  1245  Rio de Janeiro     BRA -22.92502  -43.22502    11748000
1245  1246       Sao Paulo     BRA -23.55868  -46.62502    18845000
1246  1247          Sydney     AUS -33.92001  151.18518     4630000
1247  1248       Singapore     SGP   1.29303  103.85582     5183700
1248  1249       Hong Kong     CHN  22.30498  114.18501     7206000

[1249 rows x 6 columns]

In [23]:
%%sql

SELECT name, population,
CASE
    WHEN population > 10000000 THEN 'Megacity'
    WHEN population > 1000000 THEN 'Large city'
    ELSE 'Small city'
END AS category
FROM cities;

                name  population    category
0              Bombo       75000  Small city
1        Fort Portal       42670  Small city
2            Potenza       69060  Small city
3         Campobasso       50762  Small city
4              Aosta       34062  Small city
...              ...         ...         ...
1244  Rio de Janeiro    11748000    Megacity
1245       Sao Paulo    18845000    Megacity
1246          Sydney     4630000  Large city
1247       Singapore     5183700  Large city
1248       Hong Kong     7206000  Large city

[1249 rows x 3 columns]

In [36]:
import duckdb
from pathlib import Path
import pandas as pd
import numpy as np

explo_database = Path.home() / "Python\Projects\qgis-plugin-xsections\Exploration_Database.csv"
explo_database = pd.read_csv(explo_database)
# explo_database = duckdb.read_csv(explo_database.as_posix())
explo_database = explo_database.iloc[1:, :]

In [37]:
explo_database[explo_database == '--'] = np.nan

In [48]:
explo_database = explo_database.iloc[:111, :]